extends ../layout
block body
  include ../navbar
  div(style="background-color:#f7f7f8")
    .container
      br
      br
      br
      .text-center
        h1.brand-blue Create an account.
      br
      br
      .col-md-4.col-md-offset-4
        if message
          h3=message
        form(action='/user/signup', method='post')
          .panel.panel-default
            .panel-body
              .form-group
                input.input-lg.form-control.input-lg(type='text', name='email', placeholder='Enter your email address')
              .form-group
                hr
              input.btn(type='submit', value='Send Verification Email').button.button-flat-primary.btn-block.btn-lg.button-large

