extends ../layout
block body
  include ../navbar
  div(style="background-color:#f7f7f8")
    .container
      br
      br
      .col-md-4.col-md-offset-4
        if message
          h3=message
        form(action='/user/create', method='post')
          .panel.panel-default
            .panel-body
              .form-group
                input.form-control(type='text', name='username', placeholder='Select a user name')
              .form-group
                input.form-control(type='text', name='email', placeholder='Your email address')
              .form-group
                input.form-control(type='password', name='password', placeholder='Create a password')
              .form-group
              hr
              input(type='submit', value='Create account').button.button-flat-action.pull-right.btn-block

        //- .well
          table.table.table-condensed.text-left.table-bordered
            tr
              td username
              td test
            tr
              td password
              td test
