extends ../layout
block body
  include ../navbar
  div(style="background-color:#f7f7f8")
    .container
      br
      br
      br
      .templateDescription
        h4 Please check your email to finish registration.
        br
        hr
        a.btn.button.button-border.button-pill.b(href="/") Back
        br


