.bg11
  .container
    br
    br
    #firstChange
      .col-sm-3
        canvas(id='mycanvas1', width="275", height="300", style="border:1px solid #000000;")
      .col-sm-3
        canvas(id='mycanvas2', width="275", height="300", style="border:1px solid #000000;")
        
      .col-sm-6
        br
        .text-muted
          o Points:
          b  100 
          o  |  
          o Congruence:
          b  100

        h2 Find the difference in the photos
        h3 Circle it!
        br
        .row
          .col-sm-3
            a.btn.btn-lg.btn-success.btn-superbig.btn-block.yesnobtnChange Found it!
          .col-sm-3
            a.btn.btn-lg.button-royal.btn-superbig.btn-block.clearbtnChange Clear
          .col-sm-3
            a.btn.btn-lg.btn-danger.btn-superbig.btn-block.yesnobtnChange Can't Find
          .col-sm-3
            a.btn.col-sm-4.btn-lg.btn-link.btn-superbig.btn-block.skipbtnChange  Skip 
              fa.fa.fa-caret-right
    #yesnoChange
      .text-center
        h1 Job Completed!
        h4 Click on another tab to try out a different Example Job!
    #skipChange
      .text-center
        h2 No More Tasks!
        h4 Click on another tab to try out a different Example Job!
        h4 OR
        a.btn.btn-lg.button-royal.reviewbtnChange Review Skipped Tasks
          
    br
    br
    br


script.
  $('#yesnoChange').hide();
  $('#skipChange').hide();
  var canvas1 = document.getElementById("mycanvas1");
  var cxt1 = canvas1.getContext("2d");
  var cat1 = new Image();
  cat1.src = "originalMADS.jpg";

  var canvas2 = document.getElementById("mycanvas2");
  var cxt2 = canvas2.getContext("2d");
  var cat2 = new Image();
  cat2.src = "changed.jpg";

  var isDrawing1;
  var isDrawing2;

  cat1.onload = function() {
    cxt1.drawImage(cat1,0,0, 275, 300);
  }

  cat2.onload = function() {
    cxt2.drawImage(cat2,0,0, 275, 300);
  }

  canvas1.onmousedown = function(e) {
    var rect1 = canvas1.getBoundingClientRect();
    cxt1.beginPath();
    cxt2.beginPath();
    isDrawing1 = true;
    isDrawing2 = true;
    cxt1.moveTo(e.clientX - rect1.left, e.clientY - rect1.top);
    cxt2.moveTo(e.clientX - rect1.left, e.clientY - rect1.top);
  };
  canvas1.onmousemove = function(e) {
    var rect1 = canvas1.getBoundingClientRect();
    if (isDrawing1 && isDrawing2) {
      cxt1.lineTo(e.clientX - rect1.left, e.clientY - rect1.top);
      cxt1.stroke();
      cxt2.lineTo(e.clientX - rect1.left, e.clientY - rect1.top);
      cxt2.stroke();
    }
  };
  canvas1.onmouseup = function() {
    isDrawing1 = false;
    isDrawing2 = false;
  };

  canvas2.onmousedown = function(e) {
    var rect2 = canvas2.getBoundingClientRect();
    cxt1.beginPath();
    cxt2.beginPath();
    isDrawing1 = true;
    isDrawing2 = true;
    cxt1.moveTo(e.clientX - rect2.left, e.clientY - rect2.top);
    cxt2.moveTo(e.clientX - rect2.left, e.clientY - rect2.top);
  };
  canvas2.onmousemove = function(e) {
    var rect2 = canvas2.getBoundingClientRect();
    if (isDrawing1 && isDrawing2) {
      cxt1.lineTo(e.clientX - rect2.left, e.clientY - rect2.top);
      cxt1.stroke();
      cxt2.lineTo(e.clientX - rect2.left, e.clientY - rect2.top);
      cxt2.stroke();
    }
  };
  canvas2.onmouseup = function() {
    isDrawing1 = false;
    isDrawing2 = false;
  };
      
  $(document).on("click", ".clearbtnChange", function() {
    cxt1.clearRect(0,0,canvas1.width, canvas1.height);
    cxt1.drawImage(cat1, 0,0,275,300);
    cxt2.clearRect(0,0,canvas2.width, canvas2.height);
    cxt2.drawImage(cat2, 0,0,275,300);
  });

  $(document).on("click", ".yesnobtnChange", function() {
    $('#firstChange').hide();
    $('#yesnoChange').show();
  });

  

  $(document).on("click", ".skipbtnChange", function() {
    $('#firstChange').hide();
    $('#skipChange').show();
  });

  $(document).on("click", ".reviewbtnChange", function() {
    $('#skipChange').hide();
    $('#firstChange').show();
  })

  $(document).ready(function() {
    $('#yesnoChange').hide();
    $('#skipChange').hide();
  });