.bg11
    //- br 
    //- .templateDescription.text-muted In this template you are asked to provide feedback on the given information. 
    //- hr

    #yesnoEval
      .container
        .text-center
          h4 While signed in, users would be given the next item in the dataset
          h5 Please continue to explore other templates
      hr
    #skipEval
      .container
        .text-center
          h4 Users can sign up to continue tagging data
          h5 Click on another tab to explore other templates
      hr

    #firstEval
      .container-fluid
        br
        .panel.panel-default
          .panel-heading
            .templateDescription.text-muted In this template you are asked to provide feedback on the given information. 

          .panel-body
            br
            .col-md-3
              .row
                //- h4 What does this say?
                
                textarea#imageTranscription.exampletranscribingTextarea(name="imageTranscription" width="95%")

                a.btn.btn-default.button-flat.btn-superbig.btn-block.yesnobtnEval
                  b Submit
                a.btn.btn-default.button-flat.btn-superbig.btn-block.yesnobtnEval 
                  b No Comment
                a.btn.btn-default.button-flat.btn-superbig.btn-block.skipbtnEval  
                  b Skip

            .col-sm-7.col-sm-offset-1
              .well.well-big
                p I have a website located at 
                  a(href='http://www.facebook.com') www.facebook.com
                p Please provide me with any thoughts or concerns about my web design, something, and something else.

        //- .col-sm-6
        //-   .well.well-big
        //-     p I have a website located at 
        //-       a(href='http://www.facebook.com') www.facebook.com
        //-     p Please provide me with any thoughts or concerns about my web design, something, and something else.
            
        //- .col-sm-6
        //-   br
        //-   .text-muted
        //-     o Points:
        //-     b  100 
        //-     o  |  
        //-     o Congruence:
        //-     b  100
        //-   br
        //-   form.form(action='')
        //-     textarea(placeholder="Enter Comments Here", rows='3').form-control
        //-   br
        //-   .row
        //-     .col-sm-4
        //-       a.btn.btn-lg.btn-success.btn-superbig.btn-block.yesnobtnEval Enter
        //-     .col-sm-4
        //-       a.btn.btn-lg.btn-danger.btn-superbig.btn-block.yesnobtnEval No Comment
        //-     .col-sm-4
        //-       a.btn.col-sm-4.btn-lg.btn-link.btn-superbig.btn-block.skipbtnEval  Skip 
        //-         fa.fa.fa-caret-right


    br
script.
  $('#yesnoEval').hide()
  $('#skipEval').hide()

  $(document).on("click", ".yesnobtnEval", function() {
    $('#yesnoEval').show()
    $('#skipEval').hide()

  })


  $(document).on("click", ".skipbtnEval", function() {
    $('#yesnoEval').hide()
    $('#skipEval').show()
  })
     