//extends ../layout
.bg11
    
    br 
    .templateDescription.text-muted Interact with this template by circling the feature.
    hr

   #yesnoFind
      .container.text.center
        .text-center
          h4 While signed in, users would be given the next item in the dataset
          h5 Please continue to explore other templates
      hr
    #skipFind
      .container.text.center  
        .text-center
          h4 Users can sign up to continue tagging data
          h5 Click on another tab to explore other templates
      hr

    #firstFind
      .container
        .col-sm-6
          canvas(id='mycanvas', width="500", height="300", style="border:1px solid #000000;")
          
        .col-sm-6
          br
          .text-muted
            o Points:
            b  100 
            o  |  
            o Congruence:
            b  100

          h2 Can you circle the cat in this photo?
          br
          br
          .row
            .col-sm-3
              a.btn.btn-lg.btn-success.btn-superbig.btn-block.yesnobtnFind Found it!
            .col-sm-3
              a.btn.btn-lg.button-royal.btn-superbig.btn-block.clearbtn Clear
            .col-sm-3
              a.btn.btn-lg.btn-danger.btn-superbig.btn-block.yesnobtnFind Can't Find
            .col-sm-3
              a.btn.col-sm-4.btn-lg.btn-link.btn-superbig.btn-block.skipbtnFind  Skip 
                fa.fa.fa-caret-right

          
    br


script.
  $('#yesnoFind').hide();
  $('#skipFind').hide();
  var canvas = document.getElementById("mycanvas");
  var context = canvas.getContext("2d");
  var cat = new Image();
  cat.src = "http://i.imgur.com/qvJuqVV.jpg";
  var isDrawing = false;

  cat.onload = function() {
    context.drawImage(cat,0,0, 500, 300);
  };

  //- canvas.onmousedown = function(e) {
  //-   var rect = canvas.getBoundingClientRect();
  //-   context.beginPath();
  //-   isDrawing = true;
  //-   context.moveTo(e.clientX - rect.left, e.clientY - rect.top);
  //- };
  //- canvas.onmousemove = function(e) {
  //-   var rect = canvas.getBoundingClientRect();
  //-   if (isDrawing) {
  //-     context.lineTo(e.clientX - rect.left, e.clientY - rect.top);
  //-     context.stroke();
  //-   }
  //- };
  //- canvas.onmouseup = function() {
  //-   isDrawing = false;
  //- };

  var startX;
  var startY;

  canvas.onmousedown = function (e) {
    e.preventDefault();
    e.stopPropagation();
    var rect = canvas.getBoundingClientRect();
    var offsetX = rect.left;
    var offsetY = rect.top;
    startX = parseInt(e.clientX - offsetX);
    startY = parseInt(e.clientY - offsetY);
    isDrawing = true;
  };

  canvas.onmousemove = function(e) {
    if(!isDrawing) {
      return;
    }
    e.preventDefault();
    e.stopPropagation();
    var rect = canvas.getBoundingClientRect();
    var offsetX = rect.left;
    var offsetY = rect.top;
    var x = parseInt(e.clientX - offsetX);
    var y = parseInt(e.clientY - offsetY);
    var moveY = startY + (y - startY) / 2;
    context.clearRect(0,0,canvas.width, canvas.height);
    context.drawImage(cat,0,0,500,300);
    context.lineWidth = 2;
    context.beginPath();

    context.moveTo(startX, moveY);
    context.bezierCurveTo(startX, startY, x, startY, x, moveY);
    context.bezierCurveTo(x, y, startX, y, startX, moveY);
    context.closePath();
    context.stroke();

  };

  canvas.onmouseup = function(e) {
    if(!isDrawing) {
      return;
    }
    e.preventDefault();
    e.stopPropagation();
    isDrawing = false;
  };
      

  $(document).on("click", ".clearbtn", function() {
    context.clearRect(0,0,canvas.width, canvas.height);
    context.drawImage(cat, 0,0,500,300);
  });

  $(document).on("click", ".yesnobtnFind", function() {
    //$('#firstFind').hide();
    $('#skipFind').hide();
    $('#yesnoFind').show();
  });

  $(document).on("click", ".skipbtnFind", function() {
    $('#yesnoFind').hide();
    $('#skipFind').show();
  });

  $(document).ready(function() {
    $('#yesnoFind').hide();
    $('#skipFind').hide();
  });