.bg11
    br 
    .templateDescription.text-muted Move the slider to measure the impression
    hr
    #yesnoImpress  
      .container
        .text-center
          h4 While signed in, users would be given the next item in the dataset
          h5 Please continue to explore other templates
      hr
    #skipImpress
      .container
        .text-center
          h4 Users can sign up to continue tagging data
          h5 Click on another tab to explore other templates
      hr

    #firstImpress
      .container
        .col-sm-6.text-center
          img(src="http://i.imgur.com/SpCbHBI.jpg", align="middle",  width="400", height="400")
     
        .col-sm-6
          br
          .text-muted
            o Points:
            b  100 
            o  |  
            o Congruence:
            b  100

          h2 How happy does this picture make you feel?
          h3.text-muted On a scale from
          .row
            .col-sm-6.text-left
              h4.text-muted So Sad
            .col-sm-6.text-right
              h4.text-muted So Happy 
          input(type="range", min="0", max="10", step="0.1")
          br
          .row
            .col-sm-4
              a.btn.btn-lg.btn-success.btn-superbig.btn-block.yesnobtnImpress Enter
            .col-sm-4
              a.btn.btn-lg.btn-danger.btn-superbig.btn-block.yesnobtnImpress No Comment
            .col-sm-4
              a.btn.col-sm-4.btn-lg.btn-link.btn-superbig.btn-block.skipbtnImpress  Skip 
                fa.fa.fa-caret-right

        
    br
    br
    br
script.
  $('#yesnoImpress').hide()
  $('#skipImpress').hide()

  $(document).on("click", ".yesnobtnImpress", function() {
    $('#skipImpress').hide()
    $('#yesnoImpress').show()
  })


  $(document).on("click", ".skipbtnImpress", function() {
    $('#yesnoImpress').hide()
    $('#skipImpress').show()
  })

  $(document).on("click", ".reviewbtnImpress", function() {
    $('#skipImpress').hide()
    $('#firstImpress').show()
  })
