.bg11
    //- br 
    //- .templateDescription.text-muted Move the slider to measure the impression
    //- hr
    #yesnoImpress  
      .container
        .text-center
          h4 While signed in, users would be given the next item in the dataset
          p Please continue to explore other templates
      hr
    #skipImpress
      .container
        .text-center
          h4 Users can sign up to continue tagging data
          h5 Click on another tab to explore other templates
      hr

    #firstImpress

      .container-fluid
        br
        .panel.panel-default
          .panel-heading.exampleheading
            .templateDescription.text-muted Move the slider to measure the impression

          .panel-body
            .col-md-3
              .row
                h4 How happy does this picture make you feel?
                p.text-muted 
                  b On a scale from
                .row
                  .col-sm-6.text-left
                    p.text-muted 
                      b So Sad
                  .col-sm-6.text-right
                    p.text-muted 
                      b So Happy 
                input(type="range", min="0", max="10", step="0.1")
                br
                a.btn.btn-default.button-flat.btn-superbig.btn-block.skipbtnImpress
                  b Submit
                a.btn.btn-default.button-flat.btn-superbig.btn-block.yesnobtnImpress 
                  b No Comment
                a.btn.btn-default.button-flat.btn-superbig.btn-block.skipbtnImpress  
                  b Skip

            .col-sm-6.col-md-offset-2
              img(src="http://i.imgur.com/SpCbHBI.jpg", margin="auto",  width="500", height="500", style="margin:auto;float:none;")
          br

script.
  $('#yesnoImpress').hide()
  $('#skipImpress').hide()

  $(document).on("click", ".yesnobtnImpress", function() {
    $('#skipImpress').hide()
    $('#yesnoImpress').show()
  })


  $(document).on("click", ".skipbtnImpress", function() {
    $('#yesnoImpress').hide()
    //- $('#skipImpress').show()
    $('#exampletabs li a[href="#inquiry"]').trigger('click');

  })

  $(document).on("click", ".reviewbtnImpress", function() {
    $('#skipImpress').hide()
    $('#firstImpress').show()
  })
