.bg11
  .container
    br
    br

    .col-sm-6
      #img1.thumbnail
        img(src="http://i.imgur.com/SpCbHBI.jpg")
 

    .col-sm-6
      br
      .text-muted
        o Points:
        b  100 
        o  |  
        o Congruence:
        b  100

      h2 How happy is this picture?
      br
      .md-slider(ng-model='thisthing', min='0', max='10')
      .row
        .col-sm-4
          a.btn.btn-lg.btn-success.btn-superbig.btn-block Enter
        .col-sm-4
          a.btn.btn-lg.btn-danger.btn-superbig.btn-block I give up
        .col-sm-4
          a.btn.col-sm-4.btn-lg.btn-link.btn-superbig.btn-block  Skip 
            fa.fa.fa-caret-right


    br
    br
    br