//extends ../layout
.bg11
  .container
    br
    br
    #firstInquiry
      .col-sm-6
        form.form(action='')
          img(src="http://i.imgur.com/eLmmpdR.jpg", width='500', height='300')
        
      .col-sm-6
        br
        .text-muted
          o Points:
          b  100 
          o  |  
          o Congruence:
          b  100

        h2 Is there a cat in this picture?
        br
        .row
          .col-sm-4
            a.btn.btn-lg.btn-success.btn-superbig.btn-block.yesnobtnInquiry Yes
          .col-sm-4
            a.btn.btn-lg.btn-danger.btn-superbig.btn-block.yesnobtnInquiry No
          .col-sm-4
            a.btn.col-sm-4.btn-lg.btn-link.btn-superbig.btn-block.skipbtnInquiry  Skip 
              fa.fa.fa-caret-right
    #yesnoInquiry
      .text-center
        h1 Job Completed!
        h4 Click on another tab to try out a different Example Job!
    #skipInquiry
      .text-center
        h2 No More Tasks!
        h4 Click on another tab to try out a different example Job!
        h4 OR
        a.btn.btn-lg.button-royal.reviewbtnInquiry Review Skipped Tasks

    br
    br
    br

script.
  $('#yesnoInquiry').hide()
  $('#skipInquiry').hide()

  $(document).on("click", ".yesnobtnInquiry", function() {
    $('#firstInquiry').hide()
    $('#yesnoInquiry').show()
  })


  $(document).on("click", ".skipbtnInquiry", function() {
    $('#firstInquiry').hide()
    $('#skipInquiry').show()
  })

  $(document).on("click", ".reviewbtnInquiry", function() {
    $('#skipInquiry').hide()
    $('#firstInquiry').show()
  })
