.bg11

      //- br
      //- .templateDescription.text-muted While exploring this template you will be asked to find a feature in a variety of mediums including videos, pictures, and audio. 
      //- hr
  
     #yesnoInquiry
      .container.text.center
        .text-center
          h4 While signed in, users would be given the next item in the dataset
          p Please continue to explore other templates
      hr
    #skipInquiry
      .container.text.center  
        .text-center
          h4 Users can sign up to continue tagging data
          h5 Click on another tab to explore other templates
      hr

    #firstInquiry
      .container-fluid
        br
        .panel.panel-default
          .panel-heading.exampleheading
            .templateDescription.text-muted While exploring this template you will be asked to find a feature in a variety of mediums including videos, pictures, and audio. 

          .panel-body
            .col-md-3
              .row
                h4 Is there a cat in this picture?
                
                a.btn.btn-default.button-flat.btn-superbig.btn-block.skipbtnInquiry
                  b Yes
                a.btn.btn-default.button-flat.btn-superbig.btn-block.yesnobtnInquiry 
                  b No
                a.btn.btn-default.button-flat.btn-superbig.btn-block.skipbtnInquiry  
                  b Skip

            .col-sm-7.col-sm-offset-1
              img(src="http://i.imgur.com/eLmmpdR.jpg", width='600', height='400')
          br
          br


script.
  $('#yesnoInquiry').hide()
  $('#skipInquiry').hide()

  $(document).on("click", ".yesnobtnInquiry", function() {
    $('#skipInquiry').hide()
    $('#yesnoInquiry').show()
  })

  $(document).on("click", ".skipbtnInquiry", function() {
    $('#yesnoInquiry').hide()
    //- $('#skipInquiry').show()
    $('#exampletabs li a[href="#survey"]').trigger('click');

  })

