.bg11
    br 
    .templateDescription.text-muted In this template you are asked a series of different questions for which you chose specific answers. 
    hr

    #yesnoSurvey
      .container
        .text-center
          h4 While signed in, users would be given the next item in the dataset
          h5 Please continue to explore other templates
      hr
    #skipSurvey
      .container
        .text-center
          h4 Users can sign up to continue tagging data
          h5 Click on another tab to explore other templates
      hr

    #firstSurvey
      .container
        h3 How effective is the teaching within your major at this university?
        br
        .col-sm-6
          form.form(action='')
            ul.list-group.col-sm-8.col-sm-offset-1
              li.list-group-item
                .radio
                  label.radioLabel
                    input(type='radio', name='answerOptions')
                    | Extremely effective
              li.list-group-item
                .radio
                  label.radioLabel
                    input(type='radio', name='answerOptions')
                    | Very effective 
              li.list-group-item
                .radio
                  label.radioLabel
                    input(type='radio', name='answerOptions')
                    | Moderatey effective 
              li.list-group-item
                .radio
                  label.radioLabel
                    input(type='radio', name='answerOptions')
                    | Slightly effective 
              li.list-group-item
                .radio
                  label.radioLabel
                    input(type='radio', name='answerOptions')
                    | Not at all effective 
  
        .col-sm-6
          br
          .text-muted
            o Points:
            b  100 
            o  |  
            o Congruence:
            b  100

          br
          br
          br
          .row
            .col-sm-4
              a.btn.btn-lg.btn-success.btn-superbig.btn-block.yesnobtnSurvey Enter
            .col-sm-4
              a.btn.btn-lg.btn-danger.btn-superbig.btn-block.yesnobtnSurvey No Answer
            .col-sm-4
              a.btn.col-sm-4.btn-lg.btn-link.btn-superbig.btn-block.skipbtnSurvey  Skip 
                fa.fa.fa-caret-right


    br
script.
  $('#yesnoSurvey').hide()
  $('#skipSurvey').hide()

  $(document).on("click", ".yesnobtnSurvey", function() {
    $('#yesnoSurvey').show()
    $('#skipSurvey').hide()

  })


  $(document).on("click", ".skipbtnSurvey", function() {
    $('#yesnoSurvey').hide()
    $('#skipSurvey').show()
  })
     