.bg11
    br 
    .templateDescription.text-muted In this template you are asked to transcribe the given text. 
    hr

    #yesnoTranscrib
      .container
        .text-center
          h4 While signed in, users would be given the next item in the dataset
          h5 Please continue to explore other templates
      hr
    #skipTranscrib
      .container
        .text-center
          h4 Users can sign up to continue tagging data
          h5 Click on another tab to explore other templates
      hr

    #firstTranscrib
      .container
        .col-sm-6
          img(src="http://c22blog.files.wordpress.com/2010/10/input-black.gif", width="500", height="300")
            
        .col-sm-6
          br
          .text-muted
            o Points:
            b  100 
            o  |  
            o Congruence:
            b  100

          h2 What does this say?
          
          form.form(action='')
            input(type='text', placeholder='enter words here').form-control
          br
          .row
            .col-sm-4
              a.btn.btn-lg.btn-success.btn-superbig.btn-block.yesnobtnTranscrib Enter
            .col-sm-4
              a.btn.btn-lg.btn-danger.btn-superbig.btn-block.yesnobtnTranscrib No Idea
            .col-sm-4
              a.btn.col-sm-4.btn-lg.btn-link.btn-superbig.btn-block.skipbtnTranscrib  Skip 
                fa.fa.fa-caret-right


    br
script.
  $('#yesnoTranscrib').hide()
  $('#skipTranscrib').hide()

  $(document).on("click", ".yesnobtnTranscrib", function() {
    $('#yesnoTranscrib').show()
    $('#skipTranscrib').hide()

  })


  $(document).on("click", ".skipbtnTranscrib", function() {
    $('#yesnoTranscrib').hide()
    $('#skipTranscrib').show()
  })
     