.bg11
    //- br 
    //- .templateDescription.text-muted In this template you are asked to transcribe the given text. 
    //- hr

    #yesnoTranscrib
      .container
        .text-center
          h4 While signed in, users would be given the next item in the dataset
          p Please continue to explore other templates
      hr
    #skipTranscrib
      .container
        .text-center
          h4 Users can sign up to continue tagging data
          h5 Click on another tab to explore other templates
      hr

    #firstTranscrib
      .container-fluid
        br
        .panel.panel-default
          .panel-heading.exampleheading
            .templateDescription.text-muted In this template you are asked to transcribe the given text. 

          .panel-body
            .col-md-3
              .row
                h4 What does this say?
                
                textarea#imageTranscription.exampletranscribingTextarea(name="imageTranscription" width="95%")

                a.btn.btn-default.button-flat.btn-superbig.btn-block.yesnobtnTranscrib
                  b Submit
                a.btn.btn-default.button-flat.btn-superbig.btn-block.yesnobtnTranscrib 
                  b No Comment
                a.btn.btn-default.button-flat.btn-superbig.btn-block.skipbtnTranscrib  
                  b Next Template

            .col-sm-8.col-md-offset-1
              img(src="http://c22blog.files.wordpress.com/2010/10/input-black.gif", width='600', height='400')



    br
script.
  $('#yesnoTranscrib').hide()
  $('#skipTranscrib').hide()

  $(document).on("click", ".yesnobtnTranscrib", function() {
    $('#yesnoTranscrib').show()
    $('#skipTranscrib').hide()

  })


  $(document).on("click", ".skipbtnTranscrib", function() {
    $('#yesnoTranscrib').hide()
    //- $('#skipTranscrib').show()
    $('#exampletabs li a[href="#videotimetagging"]').trigger('click');

  })
     