.bg11

    //- br 
    //- .templateDescription.text-muted Tag the time the feature appears in the video or audio clip. Try dragging the video time slider.
    //- hr

    #yesnoVideo
      .container
        .text-center
          h4 While signed in, users would be given the next item in the dataset
          p Please continue to explore other template
      hr
    #skipVideo
      .container
        .text-center
          h4 Users can sign up to continue tagging data
          h5 Click on another tab to explore other templates
      hr

    #firstVideo
      .container-fluid
        br
        .panel.panel-default
          .panel-heading.exampleheading
            .templateDescription.text-muted Tag the time the feature appears in the video or audio clip. Try dragging the video time slider.

          .panel-body
            .col-md-3
              .row
                h4 When does a cat appear in this video?
                .row
                  .col-sm-8
                    input(id="paused", type='text', placeholder='enter time here').form-control
                  .col-sm-1
                    a.btn.btn-md.btn-warning.clearbtnVideo Clear
                br 
                a.btn.btn-default.button-flat.btn-superbig.btn-block.yesnobtnVideo
                  b Submit
                a.btn.btn-default.button-flat.btn-superbig.btn-block.yesnobtnVideo 
                  b Not Found
                //- a.btn.btn-default.button-flat.btn-superbig.btn-block.skipbtnVideo  
                //-   b Skip

            .col-md-8.col-md-offset-1
              #player
          br
          br

script.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  var player;



  function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: '390',
          width: '640',
          videoId: 'KdxEAt91D7k',
          //- 'data-id': id,
          events: {
            'onStateChange': onPlayerStateChange
          }
        });
    }


  //- var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PAUSED) {
      //- setTimeout(stopVideo, 6000);
      document.getElementById("paused").value = player.getCurrentTime();
      //- done = true;
    }
  }

  //- var vid = document.getElementById("myvideo");

  //- vid.onseeking = function() {
  //-   document.getElementById("paused").value = vid.currentTime;
  //- }

  //- vid.onpause = function() {
  //-   if(vid.duration != vid.currentTime)
  //-     document.getElementById("paused").value = vid.currentTime;
  //- }

  $(document).on("click", ".clearbtnVideo", function() {
    document.getElementById("paused").value = '';
  })

  $('#yesnoVideo').hide()
  $('#skipVideo').hide()

  $(document).on("click", ".yesnobtnVideo", function() {
    $('#skipVideo').hide()
    $('#yesnoVideo').show()
  })


  $(document).on("click", ".skipbtnVideo", function() {
    $('#yesnoVideo').hide()
    $('#skipVideo').show()
  }) 