//- page that shows all available jobs
extends ../layout
block body
  include ../navbar
  .container-fluid(style="background-color:#f7f7f8;")
    .container
      .row.well-sm
        br
        .col-md-4
          include sidebar
        //- br
        //- .col-md-3
          
          
        //-   ul.nav.nav-sidebar
        //-     li
        //-       a(href='/u')
        //-         o Unfinished Jobs
        //-     li.active
        //-       a(href='/profile/browse') 
        //-         o Browse Available Jobs
        //-     li
        //-       a(href='#')
        //-         o Previously Completed Jobs
        //-     hr
        //-     li
        //-       a(href='#') 
        //-         o View Progress of Uploaded Jobs
        //-     li
        //-       a(href='#') 
        //-         o View Completed Uploaded Jobs


        .col-md-8
          
          if jobs
            for job in jobs
              .panel
                .well-sm
                  .row
                    .col-md-9
                      h4
                        a(href="/job/work?job=#{job.id}").btn-link=job.name
                    .col-md-3
                      b=job.taskCount+" tasks"
                  p=job.desc
                  

