extends ../layout
block body
  include ../navbar
  form(target="job/create", method="POST").form.job_form.container
    .col-md-10.col-md-offset-1
      br
      h1.text-center.skinny Crowd source in seconds.
      .col-xs-12
        hr
        ul.nav.nav-tabs.nav-justified.setup-panel
          li.active
            a(href='#step-1').skinny
              b 1  
              o.list-group-item-heading Define your project.
          li.disabled
            a(href='#step-2').skinny
              b 2  
              o.list-group-item-heading Configure some settings.
          li.disabled
            a(href='#step-3').skinny
              b 3  
              o.list-group-item-heading Assimilate data.

      .col-xs-12

        .panel.panel-default
          #step-1.setup-content
            .panel-body
              .col-md-12
                br
                br

              .col-md-12
                .col-md-4
                  p.lead Project name:
                .col-md-8
                  input(type="text", placeholder="Name")#jobName.form-control
                br
                br


                  
              .col-md-12
                .col-md-4
                  p.lead Template:
                .col-md-8
                  select.selectpicker
                    option Change Detection
                    option Evaluation
                    option Feature Finding
                    option Impression Measuring
                    option Inquiry
                    option Survey
                    option Transcribing
                    option Video Time Tagging
                    //- option(data-content="<a data-toggle='tooltip' data-placement='right' href='#' title='' data-original-title='Put things here?'>put things hereee</a>") Change Detection
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Change Detection</span>") Change Detection
                    //- option Change Detection
                    //- option.tooltip(title='things') Change Detection
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Evaluation</span>") Evaluation
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Feature Finding</span>") Feature Finding
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Impression Measuring</span>") Impression Measuring
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Inquiry</span>") Inquiry
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Survey</span>") Survey
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Transcribing</span>") Transcribing
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Video Time Tagging</span>") Video Time Tagging
                //- .col-md-4
                //-   button#help.btn.button.button-flat Help

              .col-md-12
                .col-md-4
                  p.lead Description:
                .col-md-8
                  textarea(name="desc", value="test", placeholder="Description").form-control#jobDesc
                br
                br
                br
                br
                hr
              

            .panel-footer.text-right
                //- button.btn.btn-link cancel  
                a#activate-step-2.btn.btn-success.next Next 
                  fa.fa.fa-fw.fa-chevron-right


          #step-2.setup-content
            .panel-body
              #mostTemplates.config-content
                .col-md-12
                  .col-md-4
                    p.lead Prompt for each task:
                  .col-md-8
                    input(name="instruction",type="text", value="test", placeholder="Find the difference between the photos.").form-control
                  br
                hr
              
              #evaluation.config-content
                .col-md-12
                  h3 Evaluation
                  hr
                  .col-md-4
                    p.lead Question:
                  .col-md-8
                    textarea(placeholder="i'm not sure what this is exactly supposed to be...do they need to load data??").form-control
                  br
                hr
              
              #impressMeasure.config-content  
                .col-md-12
                  .col-md-3
                    p.lead On a scale from
                  .col-md-4
                    input(type="text", placeholder="depressed").form-control
                  .col-md-1
                    p.lead to
                  .col-md-4
                    input(type="text", placeholder="estatic").form-control
                  br
                hr
              #inquiry.config-content
                .col-md-12
                  .col-md-4
                    p.lead Choose answer set:
                  .col-md-4
                    .radio.inline
                      label.radioLabel
                        input(type='radio', name='inquiryOptions', value='default', checked)
                        | Default (Yes/No)
                  .col-md-4
                    .radio.inline
                      label.radioLabel
                        input(type='radio', name='inquiryOptions', value='custom')
                        | Custom Answer Set
                #customAnswerSet
                  .col-md-12
                    .col-md-4
                      p.lead Custom Answers:
                    .col-md-8
                      form
                        .form-group.multiple-form-group(data-max='8')
                          .form-group.input-group
                            input.form-control(type='text', name='multiple[]')
                            span.input-group-btn
                              button.btn.btn-default.btn-add(type='button') 
                                | +
                hr
              #survey.config-content
                .col-md-12
                  .col-md-4
                    p.lead Custom Answers:
                  .col-md-8
                    form
                      .form-group.multiple-form-group(data-max='8')
                        .form-group.input-group
                          input.form-control(type='text', name='multiple[]')
                          span.input-group-btn
                            button.btn.btn-default.btn-add(type='button') 
                              | +
                hr

                  
              .col-md-12
                hr
                br
                .col-md-6
                  p.lead Points Awarded per Task:
                .col-md-2
                  input(name="points_per_task", type='number', value="test", placeholder="0.1", step=".1", id="pointsForTask").form-control
              .col-md-12
                .col-md-6
                  p.lead Points Awarded for Job Completion:
                .col-md-2
                  input(name="points_per_job", type='number', value="test", placeholder="1", step="1", id="pointsForComplete").form-control
              .col-md-12
                hr
                .col-md-10.col-md-offset-1
                  p.lead Job Expiration
                  .radio
                    .col-md-7
                      label.radioLabel
                        input( type='radio', name='closeOptions', value='numberTagged', checked)
                        | After each task has been answered
                    .col-md-2
                      input(type='number', min='1',value='10').form-control
                    .col-md-1
                      label.radioLabel times
                  br
                  .radio
                    .col-md-7
                      label.radioLabel
                        input(type='radio', name='closeOptions', value='specificTime')
                        | When confidence rating reaches
                    .col-md-2
                      input(name="confidence_rating", type='number').form-control
                  br
                  .radio
                    .col-md-3
                      label.radioLabel
                        input(type='radio', name='closeOptions', value='specificTime')
                        | At this time: 
                    .col-md-6
                      input(name="close_date", type='datetime-local').form-control
                  br
             

            .panel-footer.text-right
                  button#cancel-step-2.btn.btn-link Back  
                  button#activate-step-3.btn.button.button-flat-action Next 
                    fa.fa.fa-fw.fa-chevron-right


          #step-3.setup-content
            .panel-body
              .col-md-12
                br
                br
                form(action="#", class="dropzone dz-clickable", id="my-awesome-dropzone")
                br
                br

            .panel-footer.text-right
                  //- button.btn.btn-link Cancel  
                  button#activate-step-3.btn.button.button-flat-action Finished  
                    fa.fa.fa-chevron-right



  script.
    //var taskcount = 2;
    var template;


    var addFormGroup = function (event) {
        event.preventDefault();

        var $formGroup = $(this).closest('.form-group');
        var $multipleFormGroup = $formGroup.closest('.multiple-form-group');
        var $formGroupClone = $formGroup.clone();

        $(this)
            .toggleClass('btn-default btn-add btn-danger btn-remove')
            .html('–');

        $formGroupClone.find('input').val('');
        $formGroupClone.insertAfter($formGroup);

        var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
        if ($multipleFormGroup.data('max') <= countFormGroup($multipleFormGroup)) {
            $lastFormGroupLast.find('.btn-add').attr('disabled', true);
        }
    };

    var removeFormGroup = function (event) {
        event.preventDefault();

        var $formGroup = $(this).closest('.form-group');
        var $multipleFormGroup = $formGroup.closest('.multiple-form-group');

        var $lastFormGroupLast = $multipleFormGroup.find('.form-group:last');
        if ($multipleFormGroup.data('max') >= countFormGroup($multipleFormGroup)) {
            $lastFormGroupLast.find('.btn-add').attr('disabled', false);
        }

        $formGroup.remove();
    };

    var countFormGroup = function ($form) {
        return $form.find('.form-group').length;
    };

    $(document).on('click', '.btn-add', addFormGroup);
    $(document).on('click', '.btn-remove', removeFormGroup);

    $('.selectpicker').selectpicker();


    $('input[name="inquiryOptions"]').on('change', function() {
      if($(this).val()=='default') {
        $('#customAnswerSet').hide();
      }
      else {
        $('#customAnswerSet').show();
      }
    })


    $(document).ready(function() {
        $('[rel="tooltip"], .tooltip').tooltip();


        var navListItems = $('ul.setup-panel li a'),
            allWells = $('.setup-content');

        allWells.hide();


        $('.config-content').hide();

        $('#customAnswerSet').hide();


        navListItems.click(function(e)
        {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this).closest('li');
            
            if (!$item.hasClass('disabled')) {
                navListItems.closest('li').removeClass('active');
                $item.addClass('active');
                allWells.hide();
                $target.show();
            }
        });
        
        $('ul.setup-panel li.active a').trigger('click');
        
        $('#activate-step-2').on('click', function(e) {
            
            $('ul.setup-panel li:eq(1)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-2"]').trigger('click');
            template = $('.selectpicker').val();
            $('.config-content').hide();
            //there is probably a better way to do this....but whatevs
            if(template == "Change Detection")
              $('#changeDetect').show();
            if(template == "Evaluation") 
              $('#evaluation').show();
            if(template == "Feature Finding") 
              $('#featureFind').show();
            if(template == "Impression Measuring") 
              $('#impressMeasure').show();
            if(template == "Inquiry") 
              $('#inquiry').show();
            if(template == "Survey") 
              $('#survey').show();
            if(template == "Transcribing") 
              $('#transcrib').show();
            if(template == "Video Time Tagging") 
              $('#videoTagging').show();
            //$(this).remove();

        })    

        $('#activate-step-3').on('click', function(e) {
            $('ul.setup-panel li:eq(2)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-3"]').trigger('click');
            $(this).remove();
        })

        $('#cancel-step-2').on('click', function(e) {
          $('ul.setup-panel li:eq(1)').addClass('disabled');
          $('ul.setup-panel li a[href="#step-1"]').trigger('click');
          $('.config-content').hide();
        })

    });
