extends ../layout
block body
  include ../navbar
  .container
    .col-md-10.col-md-offset-1
      br
      h1.text-center.skinny Crowd source in seconds.
      .col-xs-12
        hr
        ul.nav.nav-tabs.nav-justified.setup-panel
          li.active
            a(href='#step-1').skinny
              b 1  
              o.list-group-item-heading Define your project.
          li.disabled
            a(href='#step-2').skinny
              b 2  
              o.list-group-item-heading Configure some settings.
          li.disabled
            a(href='#step-3').skinny
              b 3  
              o.list-group-item-heading Assimilate data.

      .col-xs-12

        .panel.panel-default
          #step-1.setup-content
            .panel-body
              .col-md-12
                br
                br

              .col-md-12
                .col-md-4
                  p.lead Project name:
                .col-md-8
                  input(type="text", placeholder="Name")#jobName.form-control
                br
                br


                  
              .col-md-12
                .col-md-4
                  p.lead Template:
                .col-md-8
                  select.selectpicker
                    option Change Detection
                    option Evaluation
                    option Feature Finding
                    option Impression Measuring
                    option Inquiry
                    option Survey
                    option Transcribing
                    option Video Time Tagging
                    //- option(data-content="<a data-toggle='tooltip' data-placement='right' href='#' title='' data-original-title='Put things here?'>put things hereee</a>") Change Detection
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Change Detection</span>") Change Detection
                    //- option Change Detection
                    //- option.tooltip(title='things') Change Detection
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Evaluation</span>") Evaluation
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Feature Finding</span>") Feature Finding
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Impression Measuring</span>") Impression Measuring
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Inquiry</span>") Inquiry
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Survey</span>") Survey
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Transcribing</span>") Transcribing
                    //- option(data-content="<span class='tooltip right' title='Put things here?'>Video Time Tagging</span>") Video Time Tagging
                //- .col-md-4
                //-   button#help.btn.button.button-flat Help

              .col-md-12
                .col-md-4
                  p.lead Description:
                .col-md-8
                  textarea(placeholder="Description").form-control#jobDesc
                br
                br
                br
                br
                hr
              

            .panel-footer.text-right
                //- button.btn.btn-link cancel  
                button#activate-step-2.btn.button.button-flat-action Next 
                  fa.fa.fa-fw.fa-chevron-right


          #step-2.setup-content
            .panel-body
              #changeDetect.config-content
                .col-md-12
                  h2.medBrand Change Detection
                  hr
                  .col-md-4
                    p.lead Prompt for each task:
                  .col-md-8
                    input(type="text", placeholder="Find the difference between the photos.").form-control
                  br
                hr
              #evaluation.config-content
                .col-md-12
                  h3 Evaluation
                  hr
                  .col-md-4
                    p.lead Question:
                  .col-md-8
                    textarea(placeholder="i'm not sure what this is exactly supposed to be...do they need to load data??").form-control
                  br
                hr
              #featureFind.config-content
                .col-md-12
                  h2.medBrand Feature Finding
                  hr
                  .col-md-4
                    p.lead Prompt for each task:
                  .col-md-8
                    input(type="text", placeholder="Find the cat in this photo.").form-control
                  br
                hr
              #impressMeasure.config-content
                .col-md-12
                  h2.medBrand Impression Measuring
                  hr
                  .col-md-4
                    p.lead Prompt for each task:
                  .col-md-8
                    input(type="text", placeholder="How happy does this picture make you feel?").form-control
                .col-md-12
                  .col-md-3
                    p.lead On a scale from
                  .col-md-4
                    input(type="text", placeholder="depressed").form-control
                  .col-md-1
                    p.lead to
                  .col-md-4
                    input(type="text", placeholder="estatic").form-control
                  br
                hr
              #inquiry.config-content
                .col-md-12
                  h2.medBrand Inquiry
                  hr
                  .col-md-4
                    p.lead Prompt for each task:
                  .col-md-8
                    input(type="text", placeholder="Is there a cat?").form-control
                .col-md-12
                  .col-md-4
                    p.lead Choose answer set:
                  .col-md-4
                    .radio.inline
                      label.radioLabel
                        input(type='radio', name='inquiryOptions', value='default', checked)
                        | Default (Yes/No)
                  .col-md-4
                    .radio.inline
                      label.radioLabel
                        input(type='radio', name='inquiryOptions', value='custom')
                        | Custom Answer Set
                #customAnswerSet
                  .col-md-12
                    .col-md-4
                      p.lead Number of Answers
                    .col-md-2
                      input(type="number", min="1", max="6", value="2", id="numAnswers", onchange="customAnswers()").form-control
                    .col-md-6
                      #answer1
                        input(type="text", placeholder="Custom Answer 1").form-control
                      #answer2
                        input(type="text", placeholder="Custom Answer 2").form-control
                      #answer3
                        input(type="text", placeholder="Custom Answer 3").form-control
                      #answer4
                        input(type="text", placeholder="Custom Answer 4").form-control
                      #answer5
                        input(type="text", placeholder="Custom Answer 5").form-control
                      #answer6
                        input(type="text", placeholder="Custom Answer 6").form-control
                hr
              #survey.config-content
                .col-md-12
                  h2.medBrand Survey
                  hr
                  .col-md-4
                    p.lead Prompt for each task:
                  .col-md-8
                    input(type="text", placeholder="THIS NEEDS TO BE FIGURED OUT").form-control
                  br
                hr
              #transcrib.config-content
                .col-md-12
                  h2.medBrand Transcribing
                  hr
                  .col-md-4
                    p.lead Prompt for each task:
                  .col-md-8
                    input(type="text", placeholder="What does this say?").form-control
                  br
                hr
              #videoTagging.config-content
                .col-md-12
                  h2.medBrand Video Time Tagging
                  hr
                  .col-md-4
                    p.lead Prompt for each task:
                  .col-md-8
                    input(type="text", placeholder="Where does the cat appear in this video?").form-control
                  br
                hr   
              .col-md-12
                hr
                br
                .col-md-6
                  p.lead Points Awarded per Task:
                .col-md-2
                  input(type='number', placeholder="0.1", step=".1", id="pointsForTask").form-control
              .col-md-12
                .col-md-6
                  p.lead Points Awarded for Job Completion:
                .col-md-2
                  input(type='number', placeholder="1", step="1", id="pointsForComplete").form-control
              .col-md-12
                hr
                .col-md-10.col-md-offset-1
                  p.lead When would you like your job to be closed?
                  ul.list-group
                    li.list-group-item
                      .radio
                        .col-md-7
                          label.radioLabel
                            input(type='radio', name='closeOptions', value='numberTagged', checked)
                            | After each task has been answered
                        .col-md-2
                          input(type='number', min='1').form-control
                        .col-md-1
                          label.radioLabel times
                    li.list-group-item
                      .radio
                        .col-md-3
                          label.radioLabel
                            input(type='radio', name='closeOptions', value='specificTime')
                            | At this time: 
                        .col-md-6
                          input(type='datetime-local').form-control
                    li.list-group-item
                      .radio
                        .col-md-9
                          label.radioLabel
                            input(type='radio', name='closeOptions', value='later')
                            | Please provide a Close button so I can decide later
             

            .panel-footer.text-right
                  button#cancel-step-2.btn.btn-link Back  
                  button#activate-step-3.btn.button.button-flat-action Next 
                    fa.fa.fa-fw.fa-chevron-right


          #step-3.setup-content
            .panel-body
              .col-md-12
                br
                br
                form(action="#", class="dropzone dz-clickable", id="my-awesome-dropzone")

                br
                br

                //- form.form(action='/jobs/create')

                //-   //- dropdown thing for task type
                  
                //-   br
                //-   #addMoreTasks
                //-     hr
                //-     .row
                //-       .col-md-1
                //-         label 1.
                //-       .col-md-11
                //-         input(type='file', placeholder='things', name='task1').form-control

                //-   hr
                //-   .row
                //-   a.btn.btn.button-link.addtask
                //-     fa.fa.fa-plus.fa-fw
                //-     o Add Another Task
                //-   br
                //-   br

            .panel-footer.text-right
                  //- button.btn.btn-link Cancel  
                  button#activate-step-3.btn.button.button-flat-action Finished  
                    fa.fa.fa-chevron-right



  script.
    //var taskcount = 2;
    var template;

    $('.selectpicker').selectpicker();

    //- this is definitely not the best way to do this...but it works...
    function customAnswers() {
      var x = document.getElementById("numAnswers").value;
      if( x == '1') {
        $('#answer1').show();
        $('#answer2').hide();
        $('#answer3').hide();
        $('#answer4').hide();
        $('#answer5').hide();
        $('#answer6').hide();
      }
      if( x == '2') {
        $('#answer1').show();
        $('#answer2').show();
        $('#answer3').hide();
        $('#answer4').hide();
        $('#answer5').hide();
        $('#answer6').hide();
      }
      if( x == '3') {
        $('#answer1').show();
        $('#answer2').show();
        $('#answer3').show();
        $('#answer4').hide();
        $('#answer5').hide();
        $('#answer6').hide();
      }
      if( x == '4') {
        $('#answer1').show();
        $('#answer2').show();
        $('#answer3').show();
        $('#answer4').show();
        $('#answer5').hide();
        $('#answer6').hide();
      }
      if( x == '5') {
        $('#answer1').show();
        $('#answer2').show();
        $('#answer3').show();
        $('#answer4').show();
        $('#answer5').show();
        $('#answer6').hide();
      }
      if( x == '6') {
        $('#answer1').show();
        $('#answer2').show();
        $('#answer3').show();
        $('#answer4').show();
        $('#answer5').show();
        $('#answer6').show();
      }
    }


    $('input[name="inquiryOptions"]').on('change', function() {
      if($(this).val()=='default') {
        $('#customAnswerSet').hide();
      }
      else {
        $('#customAnswerSet').show();
      }
    })

    //- $(document).on( "click", ".addtask", function(){ 
    //-   $("#addMoreTasks").append('<hr><div class="row"><div class="col-md-1"><label>' 
    //-     + taskcount + '.</label></div>' 
    //-     + '<div class="col-md-11"><input class="form-control", type="file", name="task' 
    //-     + taskcount + '", placeholder="things"></input></div></div>');
      
    //-   taskcount++;
    //- })


    $(document).ready(function() {
        $('[rel="tooltip"], .tooltip').tooltip();


        var navListItems = $('ul.setup-panel li a'),
            allWells = $('.setup-content');

        allWells.hide();


        $('.config-content').hide();

        $('#customAnswerSet').hide();

        $('#answer3').hide();
        $('#answer4').hide();
        $('#answer5').hide();
        $('#answer6').hide();

        navListItems.click(function(e)
        {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this).closest('li');
            
            if (!$item.hasClass('disabled')) {
                navListItems.closest('li').removeClass('active');
                $item.addClass('active');
                allWells.hide();
                $target.show();
            }
        });
        
        $('ul.setup-panel li.active a').trigger('click');
        
        $('#activate-step-2').on('click', function(e) {
            
            $('ul.setup-panel li:eq(1)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-2"]').trigger('click');
            template = $('.selectpicker').val();
            $('.config-content').hide();
            //there is probably a better way to do this....but whatevs
            if(template == "Change Detection")
              $('#changeDetect').show();
            if(template == "Evaluation") 
              $('#evaluation').show();
            if(template == "Feature Finding") 
              $('#featureFind').show();
            if(template == "Impression Measuring") 
              $('#impressMeasure').show();
            if(template == "Inquiry") 
              $('#inquiry').show();
            if(template == "Survey") 
              $('#survey').show();
            if(template == "Transcribing") 
              $('#transcrib').show();
            if(template == "Video Time Tagging") 
              $('#videoTagging').show();
            //$(this).remove();


        })    

        $('#activate-step-3').on('click', function(e) {
            $('ul.setup-panel li:eq(2)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-3"]').trigger('click');
            $(this).remove();
        })

        $('#cancel-step-2').on('click', function(e) {
          $('ul.setup-panel li:eq(1)').addClass('disabled');
          $('ul.setup-panel li a[href="#step-1"]').trigger('click');
          $('.config-content').hide();
        })




    });





