extends ../layout
block body
  include navbar
  .container
    .col-md-10.col-md-offset-1
      br
      h1.text-center.skinny Crowd source in seconds.
      .col-xs-12
        hr
        ul.nav.nav-tabs.nav-justified.setup-panel
          li.active
            a(href='#step-1').skinny
              b 1  
              o.list-group-item-heading Define your project.
          li.disabled
            a(href='#step-2').skinny
              b 2  
              o.list-group-item-heading Configure some settings.
          li.disabled
            a(href='#step-3').skinny
              b 3  
              o.list-group-item-heading Assimilate data.

      .col-xs-12

        .panel.panel-default
          #step-1.setup-content
            .panel-body
              .col-md-12
                br
                br

              .col-md-12
                .col-md-4
                  p.lead Project name:
                .col-md-8
                  input(type="text", placeholder="Name")#jobName.form-control
                br
                br


                  
              .col-md-12
                .col-md-4
                  p.lead Template:
                .col-md-8
                  select.selectpicker
                    option Inquiry
                    option Feature Finding
                    option Change Detection
                    option Evaluation
                    option Video Time Tagging
                    option Impression Measuring

              .col-md-12
                .col-md-4
                  p.lead Description:
                .col-md-8
                  textarea(placeholder="Description").form-control#jobDesc
                br
                br
                br
                br
                hr
              

            .panel-footer.text-right
                button.btn.btn-link cancel  
                button#activate-step-2.btn.button.button-flat-action Next 
                  fa.fa.fa-fw.fa-chevron-right


          #step-2.setup-content
            .panel-body
              .col-md-12
                h3 Feature Finding is chosen:
                p They enter a thing to say what needs to be found in each image
                p Ex. Circle the cat in this image
                br
              hr
              .col-md-12
                h3 Inquiry is chosen:
                p They can choose to use Yes/No or enter their own answers...
                br
              hr
              .col-md-12
                h3 Change Detection is chosen:
                p They don't really need to enter anything....It should always say 'circle the difference'
                br
              hr
              .col-md-12
                h3 Evaluation is chosen:
                p They enter a specific question in which they want answered in reference to the given data
                p Ex: What do you think of my website?; what does this captcha say?
                br
              hr
              .col-md-12
                h3 Video Time Tagging is chosen:
                p They enter the specific thing that the people should look for in the video
                br
              hr
              .col-md-12
                h3 Impression Measuring is chosen:
                p They need to enter the specific feeling they want measured
                p also need to specific the scale to measure on.
                br
              hr

            .panel-footer.text-right
                  button.btn.btn-link cancel  
                  button#activate-step-3.btn.button.button-flat-action Next 
                    fa.fa.fa-fw.fa-chevron-right


          #step-3.setup-content
            .panel-body
              .col-md-12
                .text-center
                  br
                  br
                  br
                  h4.skinny Lets use 
                    a(href="http://www.dropzonejs.com/") dropzone.js
                    |  for this instead.

                  br

                form.form(action='/jobs/create')

                  //- dropdown thing for task type
                  
                  br
                  #addMoreTasks
                    hr
                    .row
                      .col-md-1
                        label 1.
                      .col-md-11
                        input(type='file', placeholder='things', name='task1').form-control

                  hr
                  .row
                  a.btn.btn.button-link.addtask
                    fa.fa.fa-plus.fa-fw
                    o Add Another Task
                  br
                  br

            .panel-footer.text-right
                  button.btn.btn-link cancel  
                  button#activate-step-3.btn.button.button-flat-action Finished  
                    fa.fa.fa-chevron-right



  script.
    var taskcount = 2;

    $('.selectpicker').selectpicker();


    $(document).on( "click", ".addtask", function(){ 
      $("#addMoreTasks").append('<hr><div class="row"><div class="col-md-1"><label>' 
        + taskcount + '.</label></div>' 
        + '<div class="col-md-11"><input class="form-control", type="file", name="task' 
        + taskcount + '", placeholder="things"></input></div></div>');
      
      taskcount++;
    })


    $(document).ready(function() {
        
        var navListItems = $('ul.setup-panel li a'),
            allWells = $('.setup-content');

        allWells.hide();

        navListItems.click(function(e)
        {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this).closest('li');
            
            if (!$item.hasClass('disabled')) {
                navListItems.closest('li').removeClass('active');
                $item.addClass('active');
                allWells.hide();
                $target.show();
            }
        });
        
        $('ul.setup-panel li.active a').trigger('click');
        
        $('#activate-step-2').on('click', function(e) {
            $('ul.setup-panel li:eq(1)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-2"]').trigger('click');
            $(this).remove();
        })    
        $('#activate-step-3').on('click', function(e) {
            $('ul.setup-panel li:eq(2)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-3"]').trigger('click');
            $(this).remove();
        })



    });





