extends ../layout
block body
  include ../navbar
  .container-fluid(style="background-color:#f7f7f8;")
    br
    .container
      .row.well-sm
        .col-md-3.panel.panel-default
          
          .panel-body
            if user
              h4
                fa.fa.fa-fw.fa-user.fa-2x.text-primary
                o=user.username
              //- small.text-muted=user.email
          table.table
            tr 
              td Wallet Balance
              td
                fa.fa.fa-fw.fa-btc.fa-sm
                b=user.btc||"0.00"
            tr 
              td Tasks completed
              td
                o=user.tasks_completed||"0"
            tr 
              td Expert Level
              td
                o=user.expert_level||"0"
          br

        .col-md-9
          .panel.panel-default
            .panel-body
              h3 Jobs
              hr