.panel.panel-default
  .panel-body
    h3=user.username
    table.table.table-condensed
      tr
        td points
        td 0
      tr
        td rating
        td 0

ul.nav.nav-pills.nav-stacked
  li
    a(href='/profile/browse') Browse jobs
  li
    a(href='#') Created jobs
  li
    a(href='#') Active jobs

