.sidebar
  .row
    ul.nav.nav-pills.nav-stacked

      li
        a(href='/u') 
          .fa.fa-fw.fa-user.scootRight
          o.skinny.scootRight Current Work
          
      li
        a(href='/profile/analyze') 
          .fa.fa-fw.fa-bar-chart.scootRight
          o.skinny.scootRight Created Jobs

      li
        a(href='/profile/browse') 
          .fa.fa-fw.fa-globe.scootRight
          o.skinny.scootRight Entire Market
