.sidebar
  .row
    ul.nav.nav-pills.nav-stacked

      li
        a(href='/u') 
          .fa.fa-fw.fa-user
          o.scootRight Job Subscriptions
          
      li
        a(href='/profile/analyze') 
          .fa.fa-fw.fa-bar-chart
          o.scootRight Your Jobs


      li
        a(href='/profile/browse') 
          .fa.fa-fw.fa-bars
          o.scootRight All Jobs
