  .container
    .col-md-6
      p.lead As our machinery grows larger and faster, the gap between human and machine intelligence becomes more glaring. 
      p That's why crowd sourcing is the future of informatics. Instead of getting lost in the 
        | academic snake oil of machine learning. Have your data processed by a truely intelligent creature.
        | A creature which needn't be pain-stakingly programmed, just given simple instructions, and incentivized.
        | A managerial task that your evil ass corporation no doubt is very familiar with! 

      p But seriously, 
        | we farm the work out to the masses, they process it, we do statistical analyses on their work, and draw on
        | an appropriate machine intelligence method for learning that skill. Whatever it is. 
      p In so doing, we can
        | collaboratively build and index a set of skills the likes of which could never all be undertaken by a human,
        | while saving ourselves from huge neck-bearded tech departments, and more importantly, saving us money.
        blockquote "We are born animals, and trained to be human." 

      h1 We want to train machines to be human. 
      p.lead The same way we train humans to be human. Except without all the mess. So
        | we created an environment in which data that cannot be processed yet by computers, can be processed by 
        | thousands of humans, and all the while monitored by different types of intelligences -- trying to learn
        | the skill.

      //- p It's possible that there is no magical cortical algorithm, no wizardy of neural nets and biomimetic 
      //-   | architecture, and no single solution to replicating the awe inspiring efficacy of the brain.
      //- p And it's possible that the lack of success in the field of human-like-intelligence can be partially attributed to the
      //-   | statistical relationship between people who work in the field of computational intelligence, and people 
      //-   | who understand well how people who communicate and how children are raised.
      //- p You don't program humans. You train them. This semantic might be negligible to an academic who thinks that 
      //-   | education serves to create well behaved workers. But it's important to those of us that think that  
      //-   | it is better to be self actualized -- than be obedient and well behaved.
      //- p How could anyone who has not trained themselves to be a conscious thing, hope to train a machine to be one?
      //-   | A strange world, with such people in it.

      