.navbar.navbar-default.navbar-default.navbar-fixed-bottom
  .container#devtools
    a.navbar-brand(href='/u')
      b Dev tools
    ul.nav.navbar-nav.nav-pills

      li
        a(href="/job/bounce") Bounce Job
      li
        a(href="/activity/bounce") Bounce Activity
      li
        a(href="/user/bounce") Bounce User

    ul.nav.navbar-nav.navbar-right
      li
        a(onclick="javascript:$('#devtools').hide()")
          fa.fa.fa-fw.fa-times.text-danger


          //- li.dropdown
          //-   a.dropdown-toggle(href='#', data-toggle='dropdown')
          //-     | Development
          //-     span.caret
          //-   ul.dropdown-menu(role='menu')
          //-     li
          //-       a(href='/activity/examples') 
          //-         fa.fa.fa-eye.fa-fw(style="margin-right:20px;")
          //-         o See examples
          //-     li.divider
          //-     li
          //-       a(href='/activity/bounce') 
          //-         fa.fa.fa-refresh.fa-fw(style="margin-right:20px;")
          //-         o Bounce database   


         
                       
