extends layout
block body
  .container
    include navbar
  .container
    .col-md-3
      br
      include sidebar
      br
    .col-md-9.panel.panel-warning
      br

      .tab-content

        #featurerecognition.tab-pane
          include usecases/featurerecognition

        #featuredetection.tab-pane
          include usecases/featuredetection

        #changedetection.tab-pane
          include usecases/changedetection

        #captchasolving.tab-pane
          include usecases/captchasolving

        #videotimetagging.tab-pane
          include usecases/captchasolving

        #impressionmeasuring.tab-pane
          include usecases/captchasolving

