extends layout
block body
   .container
      include navbar
      br
      br

   .container
      ul.nav.nav-tabs
         li.active: a(href="#featurerecognition", data-toggle="tab") Feature Recognition
         li: a(href="#featuredetection", data-toggle="tab") Feature Detection
         li: a(href="#changedetection", data-toggle="tab") Change Detection
         li: a(href="#captchasolving", data-toggle="tab") Captcha Solving
         li: a(href="#videotimetagging", data-toggle="tab") Video Time Tagging
         li: a(href="#impressionmeasuring", data-toggle="tab") Impression Measuring 
      .tab-content
         .tab-pane.active#featurerecognition
            include usecases/featurerecognition

         .tab-pane#featuredetection
            include usecases/featuredetection
            
         .tab-pane#changedetection
            include usecases/changedetection
            
         .tab-pane#captchasolving
            include usecases/captchasolving

         .tab-pane#videotimetagging
            include usecases/videotimetagging

         .tab-pane#impressionmeasuring
            include usecases/impressionmeasuring
