extends layout
block body
   .container
      include navbar
      br
      br

   .container
      ul.nav.nav-tabs
         li.active: a(href="#inquiry", data-toggle="tab") Inquiry
         li: a(href="#featurefinding", data-toggle="tab") Feature Finding
         li: a(href="#changedetection", data-toggle="tab") Change Detection
         li: a(href="#evaluation", data-toggle="tab") Evaluation
         li: a(href="#videotimetagging", data-toggle="tab") Video Time Tagging
         li: a(href="#impressionmeasuring", data-toggle="tab") Impression Measuring 
      .tab-content
         .tab-pane.active#inquiry
            include usecases/inquiry

         .tab-pane#featurefinding
            include usecases/featurefinding
            
         .tab-pane#changedetection
            include usecases/changedetection
            
         .tab-pane#evaluation
            include usecases/evaluation

         .tab-pane#videotimetagging
            include usecases/videotimetagging

         .tab-pane#impressionmeasuring
            include usecases/impressionmeasuring
