extends layout
block body
  include navbar
  .container
    br
    .col-md-3
      include sidebar

    .col-md-9.panel.panel-default
        br

        .tab-content
          #featurerecognition.tab-pane.bg1
            include usecases/featurerecognition

          #featuredetection.tab-pane
            include usecases/featuredetection

          #changedetection.tab-pane
            include usecases/changedetection

          #captchasolving.tab-pane
            include usecases/captchasolving

          #videotimetagging.tab-pane
            include usecases/captchasolving

          #impressionmeasuring.tab-pane
            include usecases/captchasolving

