br
footer.footer 
   .container.text-center
      hr
      .row
         .col-sm-12
            .col-sm-3
               ul.nav.nav-pills.nav-stacked
                  li
                     a(href='#') About us
                  li
                     a(href='#') Blog
            .col-sm-3
               ul.nav.nav-pills.nav-stacked
                  li
                     a(href='http://github.com/catelevator/catelevator/wiki') Documentation
                  li
                     a(href='http://github.com/catelevator/catelevator') Code
            .col-sm-3
               ul.nav.nav-pills.nav-stacked
                  li
                     a(href='#') Web analytics
                  li
                     a(href='#') Presentations
            .col-sm-3
               ul.nav.nav-pills.nav-stacked
                  li
                     a(href='#') Product Help
                  li
                     a(href='#') Developer API
      hr
      .row
         .col-sm-12
            ul.nav.nav-pills.nav-justified
               li
                  a(href='/') © 2014 CatElevator.
               li
                  a(href='#') Terms of Service
               li
                  a(href='#') Privacy

