extends ./layout
block body
  .container
    include navbar
  .jumbotron
    .container
      .row
        .col-sm-7
          br
          br
          br
          br

          h1.bigBrand Crowd source 
            br
            o everything, easily.
          h2.bigBrand Transform your data-analysis needs into a simple, enjoyable activity 
            o and reward users with discounts, money, or anything.
          
          //- a.btn.btn-default.btn-lg Sign up 
          br
        .col-sm-4.col-md-offset-1
          br
          br
          br
          br
          br
          include login
    br
    br
    br
    br


  .container
    .col-sm-8.text-center.col-sm-offset-2
      h1 It's almost done already.
      p.lead We provide a set of templates so you can just plug in your data and incentivization strategy, and then go do someting else. 
      fa.fa.fa-arrow-down
      br
      br

      //- o Want special features or total customization? 
      //- o You can upgrade your account to  
      //- a(href="")  Data Scientist 
      //- o and get a research team to design a solution specific for you.

      .tab-content

        #featurerecognition.tab-pane
          include usecases/featurerecognition

        #featuredetection.tab-pane
          include usecases/featuredetection

        #changedetection.tab-pane
          include usecases/changedetection

        #captchasolving.tab-pane
          include usecases/captchasolving

        #videotimetagging.tab-pane
          include usecases/videotimetagging

        #impressionmeasuring.tab-pane
          include usecases/impressionmeasuring

        #impressionmeasuring.tab-pane
          include usecases/captchasolving

        #review.tab-pane
          include usecases/review

        #survey.tab-pane
          include usecases/survey

    .col-sm-12
      hr
      br
      //- h4 Select a template to demo the use case:
      #activityThumbs
      br
      hr
    
  .container
    hr
    br
    br
    .col-sm-4.text-right
      h1.fa.fa-fw.fa-4x.fa-globe
    .col-sm-7
      p.lead Someone else write some copy please.
      o Most data analysis needs fall under 
      o one of those basic functional paradigms. If yours doesn't or you have 
      o special requests for implementation, our research team is available.



    br
    br
    br
    br
    br
    br
    br
    br

  script.

    // make new instance of Model
    var activityModel = new $.eventModel();


    // ***** table everything


    // Listen for when things of this model type are created
    activityModel.on('created', function(info,activity) {
      $("#activityTable").append($("<tr/>", {id:activity.id}))
      $.map(activity.data, function(val, attr){
        $("#"+activity.id).append($("<td/>",{id:attr,text:val}))
      })
    });

    // Listen for when things of this model type are updated
    activityModel.on('updated', function(info,activity) {
      var gid = activity.id
      $.map(activity.data, function(val, attr){
        if($("#"+activity.id+" #"+attr).text())
          $("#"+activity.id+" #"+attr).text(val)
        else
          $("#"+activity.id).append($("<td />",{id:attr,text:val}))
      })
    });


    // ***** thumbnails 


    // Listen for when things of this model type are created
    activityModel.on('created', function(info,activity) {
      var nm = activity.data.name.replace(/ /g,'').toLowerCase();

      $("#activityThumbs").append($("<div>", {class:"col-md-3 "}).append($("<div>",{
        class:"panel panel-default well-sm activityPrototype", 
        id:activity.id,
        "data-toggle":'tab',
        href:"#"+nm, 

      })))

      $("#activityThumbs "+ "#"+activity.id)
        .append($("<h4>",{
          id:'name',
          text:activity.data.name
      }))

      $("#activityThumbs "+ "#"+activity.id)
        .append($("<p>",{
          class:'desc',
          class:"borderBottom", 
          id:'name',
          text:activity.data.desc
      }))
    });


    // Listen for when things of this model type are updated
    activityModel.on('updated', function(info,activity) {
      $.map(activity.data, function(val, attr){
        if($("#"+activity.id+" #"+attr).text())
          $("#"+activity.id+" #"+attr).text(val)
        else $("#"+activity.id).append($("<div>",{id:attr,text:val}))
      })
    });


    // bind dom to model with sockets
    function dom_glue(model){
      io.socket.on( model, function(activity){
          activityModel.emit(activity.verb, activity);
      })
      io.socket.get( "/"+model, {}, function(activities){
        $.map(activities, function(activity){
          activityModel.emit('created', {
            id:activity.id,
            data:activity
          })
        })
      })
    }

    // When document is ready, grab latest things.
    $(document).ready(function(){

      dom_glue("activity");

      //- activityModel.emit('created', {
      //-   id:5415,
      //-   data:{name:"Feature Detection"}
      //- })

    });



