extends ./layout
block body
  .container
    include navbar
  .jumbotron
    .container
      .row
        .text-center
          br
          br
          br
          br
          br
          h1.bigBrand Crowd source everything
          h2.lead.text-muted An extendable open source platform for democratizing truth.
          //- h2.bigBrand Transform your data-analysis needs into a simple, enjoyable activity 
            o and reward users with discounts, money, or anything.
          
          br

          button(onclick="location.href='/signup'").button.button-border-action.button-pill
            o SIGN UP 

    br
    br
    br
    br
    br
    br


  .container.text-center
    br
    h2.medBrand Welcoming narrative that segways into basic purposes
    br
    br
    br


  .container.homepage-copy
    .col-md-12.text-center

      .col-md-4
        .well.well-sm
          br
          fa.fa.fa-fw.fa-4x.fa-flask
          h1 Data Science
          p asd
          hr
          a.btn.button.button-flat-royal.button-rounded.btn-block
            o Create a job
      
      .col-md-4
        .well.well-sm
          br
          fa.fa.fa-fw.fa-4x.fa-users
          h1 Hacktivism
          p asd
          hr
          a.btn.button.button-flat-caution.button-rounded.btn-block
            o Improve the world

      .col-md-4
        .well.well-sm
          br
          fa.fa.fa-fw.fa-4x.fa-code
          h1 Development
          p asd
          hr
          a.btn.button.button-flat-highlight.button-rounded.btn-block
            o Get the code

          

  
  .container.text-center
    br
    hr
    br
    br
    br
    a.btn.button.button-border.button-pill
      b    
      b.fa.fa-fw.fa-arrow-up
      b    
    br
    br
    o.lead Explanation of the process.
    br
    br
    br
    br
    br


  .container
    .col-md-12
      br
      br
      br
      h2 Philosophy and details
      hr
      p.lead If they're here, we have their attention. Take your time to explain stuff and use pictures!
      br
      br
      br


  .text-center
    .panel-body
      br
      br
      a.btn.button.button-flat.button-highlight.button-pill.button-large(href="/examples") See Examples
      br
      br
      br







    //- .col-md-4
    //-   br
    //-   h4 Free to all. 
    //-   p Join for free and start creating jobs or completing tasks as soon as your email is verified. 
    //-   hr
    //-   .text-center
    //-     a.button.button-primary.button-pill(href="/j") 
    //-       b Sign up 
    //-   b    



    //- .container
    //-   .col-sm-8.text-center.col-sm-offset-2
    //-     h1 It's almost done already.
    //-     p.lead We provide a set of templates so you can just plug in your data and incentivization strategy, and then go do something else. 
    //-     fa.fa.fa-arrow-down
    //-     br
    //-     br

    //- o Want special features or total customization? 
    //- o You can upgrade your account to  
    //- a(href="")  Data Scientist 
    //- o and get a research team to design a solution specific for you.


    //- .col-sm-12
    //-   hr
    //-   br
    //-   //- h4 Select a template to demo the use case:
    //-   #activityThumbs
    //-   br
    //-   hr
      
  .container


    br
    br
    br
    br
    br
    br
    br
    br

  //what are you trying to do with these things?
  script.

    // make new instance of Model
    var activityModel = new $.eventModel();


    // ***** table everything


    // Listen for when things of this model type are created
    activityModel.on('created', function(info,activity) {
      $("#activityTable").append($("<tr/>", {id:activity.id}))
      $.map(activity.data, function(val, attr){
        $("#"+activity.id).append($("<td/>",{id:attr,text:val}))
      })
    });

    // Listen for when things of this model type are updated
    activityModel.on('updated', function(info,activity) {
      var gid = activity.id
      $.map(activity.data, function(val, attr){
        if($("#"+activity.id+" #"+attr).text())
          $("#"+activity.id+" #"+attr).text(val)
        else
          $("#"+activity.id).append($("<td />",{id:attr,text:val}))
      })
    });


    // ***** thumbnails 


    // Listen for when things of this model type are created
    activityModel.on('created', function(info,activity) {
      var nm = activity.data.name.replace(/ /g,'').toLowerCase();

      $("#activityThumbs").append($("<div>", {class:"col-md-3 "}).append($("<div>",{
        class:"panel panel-default well-sm activityPrototype", 
        id:activity.id,
        "data-toggle":'tab',
        href:"#"+nm, 

      })))

      $("#activityThumbs "+ "#"+activity.id)
        .append($("<h4>",{
          id:'name',
          text:activity.data.name
      }))

      $("#activityThumbs "+ "#"+activity.id)
        .append($("<p>",{
          class:'desc',
          class:"borderBottom", 
          id:'name',
          text:activity.data.desc
      }))
    });


    // Listen for when things of this model type are updated
    activityModel.on('updated', function(info,activity) {
      $.map(activity.data, function(val, attr){
        if($("#"+activity.id+" #"+attr).text())
          $("#"+activity.id+" #"+attr).text(val)
        else $("#"+activity.id).append($("<div>",{id:attr,text:val}))
      })
    });


    // bind dom to model with sockets
    function dom_glue(model){
      io.socket.on( model, function(activity){
          activityModel.emit(activity.verb, activity);
      })
      io.socket.get( "/"+model, {}, function(activities){
        $.map(activities, function(activity){
          activityModel.emit('created', {
            id:activity.id,
            data:activity
          })
        })
      })
    }

    // When document is ready, grab latest things.
    $(document).ready(function(){

      dom_glue("activity");

      //- activityModel.emit('created', {
      //-   id:5415,
      //-   data:{name:"Feature Detection"}
      //- })

    });



