doctype html
html
  head
    title= title

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    link(type='text/css', href='/styles/bootstrap.css', rel='stylesheet')
    link(type='text/css', href='/styles/sidebar.css', rel='stylesheet')
    link(type='text/css', href='/styles/login.css', rel='stylesheet')
    //- link(type='text/css', href='/styles/material.min.css', rel='stylesheet')
    //- link(type='text/css', href='/styles/material-wfont.min.css', rel='stylesheet')
    link(type='text/css', href='/styles/ripples.min.css', rel='stylesheet')
    link(type='text/css', href='/styles/catelevator.css', rel='stylesheet')
    link(type='text/css', href='/styles/font-awesome.css', rel='stylesheet')

    script(src="/js/jquery-1.11.1.min.js")
    script(src="/js/jquery_custom.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/material.min.js")
    script(src="/js/ripples.min.js")
    script(src="/js/Whisker.js")


  body
    block body


