.container-fluid.loginbox
  br
  form(role='form')
    .form-group
      input#inputUsernameEmail.form-control.input-lg(type='text', placeholder="Pick a user name")
    .form-group
      input#inputUsernameEmail.form-control.input-lg(type='text', placeholder="Email")
    .form-group
      input#inputPassword.form-control.input-lg(type='password', placeholder="Password")
    small.small.text-muted Email address will be verified.
    a.btn.btn.btn-success.pull-right(type='submit')
      b Sign up
    br

