nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    
    .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Cat Elevator
        .collapse.navbar-collapse
          a(href="/j").btn.btn-default.navbar-btn.navbar-left Jobs
          ul.nav.navbar-nav
            li
              a(href='http://github.com/catelevator') 
                fa.fa.fa-github.fa-fw
                o Code
            li
              a(href='http://github.com/catelevator') 
                o Docs

            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                | Development
                span.caret
              ul.dropdown-menu(role='menu')
                li
                  a(href='/activity/examples') 
                    fa.fa.fa-eye.fa-fw(style="margin-right:20px;")
                    o See examples
                li.divider
                li
                  a(href='/activity/bounce') 
                    fa.fa.fa-refresh.fa-fw(style="margin-right:20px;")
                    o Bounce database   

          ul.nav.navbar-nav.navbar-right

            li(href='#').btn.btn-default.navbar-btn
                fa.fa.fa-user.fa-fw
                -if (user)
                  o=user.name
                  li.navbar-text
                    o Points:
                    b#userPoints  100 
                    o  |  Accuracy
                    b#userAccuracy 0.1
                -else
                  o sign in


            //- li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                fa.fa.fa-user.fa-fw
                o login
                span.caret
              ul.dropdown-menu(role='menu')
                li.loginBox
                  include login
                 
div(style="margin-bottom:50px;")
