.container
  .row
    .col-md-3
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            span.glyphicon.glyphicon-arrow-right
            | How is My Site?
            a(href='http://www.jquery2dotnet.com', target='_blank')
              span.glyphicon.glyphicon-new-window
        .panel-body
          ul.list-group
            li.list-group-item
              .radio
                label
                  input(type='radio', name='optionsRadios')
                  | Good
            li.list-group-item
              .radio
                label
                  input(type='radio', name='optionsRadios')
                  | Excellent
            li.list-group-item
              .radio
                label
                  input(type='radio', name='optionsRadios')
                  | Bed
            li.list-group-item
              .radio
                label
                  input(type='radio', name='optionsRadios')
                  | Can Be Improved
            li.list-group-item
              .radio
                label
                  input(type='radio', name='optionsRadios')
                  | No Comment
        .panel-footer
          button.btn.btn-primary.btn-sm(type='button')
            | Vote
          a(href='#') View Result
    .col-md-3
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            span.glyphicon.glyphicon-hand-right
            | Where do you get your news?
        .panel-body
          ul.list-group
            li.list-group-item
              .checkbox
                label
                  input(type='checkbox', value='')
                  | Internet
            li.list-group-item
              .checkbox
                label
                  input(type='checkbox', value='')
                  | Television
            li.list-group-item
              .checkbox
                label
                  input(type='checkbox', value='')
                  | Radio
            li.list-group-item
              .checkbox
                label
                  input(type='checkbox', value='')
                  | Newspaper
            li.list-group-item
              .checkbox
                label
                  input(type='checkbox', value='')
                  | Others
        .panel-footer.text-center
          button.btn.btn-primary.btn-block.btn-sm(type='button')
            | Vote
          a.small(href='#') View Result
    .col-md-6
      .panel.panel-primary
        .panel-heading
          h3.panel-title
            span.glyphicon.glyphicon-circle-arrow-right
            | Where do you get your news?
        .panel-body.two-col
          .row
            .col-md-6
              .well.well-sm
                .checkbox
                  label
                    input(type='checkbox', value='')
                    | Internet
            .col-md-6
              .well.well-sm
                .checkbox
                  label
                    input(type='checkbox', value='')
                    | Television
          .row
            .col-md-6
              .well.well-sm.margin-bottom-none
                .checkbox
                  label
                    input(type='checkbox', value='')
                    | Radio
            .col-md-6
              .well.well-sm.margin-bottom-none
                .checkbox
                  label
                    input(type='checkbox', value='')
                    | Newspaper
        .panel-footer
          button.btn.btn-success.btn-sm(type='button')
            span.glyphicon.glyphicon-ok
            | Vote
          button.btn.btn-primary.btn-sm(type='button')
            | View Result
