body {
   font-family:  "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif!important; 
   font-weight: 400;
}

hr{
  border-color:#ddd!important;
}

.jumbotron{

  padding:0px;
  background: #2d1d3a; /* Old browsers */

  background: rgb(63,76,107); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(63,76,107,1) 0%, rgba(0,31,72,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,76,107,1)), color-stop(100%,rgba(0,31,72,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(0,31,72,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(0,31,72,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(63,76,107,1) 0%,rgba(0,31,72,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(63,76,107,1) 0%,rgba(0,31,72,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#001f48',GradientType=0 ); /* IE6-9 */

  color:white!important;
}


.small img { 
  min-height:60px;
  height:60px;
  width:auto;
  border:1px solid #999;6
  margin:2px;
 } 

.activityPrototype:hover{
  cursor:pointer;
  background-color:rgba(250,250,254,0.9);

}

.nav-tabs{
  /*border:none;*/
}

h1.bigBrand{
  margin-left:-1px;
  font-size: 60px;
  font-weight: 300;
  line-height: 68px;
  color:#fff;
  text-shadow:0px -1px 9px #001;
}

h2.bigBrand{
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color:#ffffff;
  text-shadow:0px -1px 2px #111;
}

.navbar{
  margin-bottom:0px;
}
.navbar a{
  color:#555!important;
}
.navbar a:hover{
  color:#003!important;
}

.navbar-brand{
  font-size: 17px;
  color:#009!important;
  padding-left:6px;
  font-weight:600;
  margin-top:0px;
}

.boxShadow {
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.boxShadowEasy {
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.loginbox {
  min-width: 280px;
  padding: 10px 20px 20px 20px;
}

.borderBottom{
}
p.desc{
  font-size:17px;
}


label{
  font-weight:600!important;
  color:#bbb;
  letter-spacing:1px!important;
}

.btn-superbig {
  padding-top:40px;
  padding-bottom:40px;

}

.bg1{
  background-color:#e5e5e5;
}
.bg2{
  background-color:#f8f8fb;
}

  
#jobnav .job{
}

#jobnav a {
  color:#2d2d94!important;
  font-size: 16px;
  font-weight:500!important;
  padding-top:16px;
}

#jobnav tr {
  color:#2d2d34!important;
}
#jobnav td {
  padding-top:20px;
}
#jobnav .progress{
  max-height:12px;
  margin-top:4px;
  background-color:none;
}







