body {
   font-family:  "Helvetica Neue", Helvetica,"Helvetica", Arial, "Lucida Grande", sans-serif!important; 
   font-weight: 400;
   background-color: #f7f7f8;
}



hr{
  border-color:#ddd!important;
}

.jumbotron{

  padding:0px;
  background: #222222; /* Old browsers */
  color:white!important;

}

.jumbotron-blue{
  color:#224!important;
  background: #2170f9; /* Old browsers */
}

.jumbotron-blue p{
  font-size:16px;
}
.jumbotron-blue h1{
  font-size:24px;
  font-weight:600;
}


.jumbotron-orange{
  color:#224!important;
  background: #FA7021; /* Old browsers */
}
.jumbotron-orange p{
  font-size:16px;
}
.jumbotron-orange h1{
  font-size:24px;
  font-weight:600;
}

.homepage-copy h1{
  font-size:24px;
}


.small img { 
  min-height:60px;
  height:60px;
  width:auto;
  border:1px solid #999;6
  margin:2px;
 } 

.activityPrototype:hover{
  cursor:pointer;
  background-color:rgba(250,250,254,0.9);

}


h1.bigBrand{
  margin-left:-1px;
  font-size: 51px;
  font-weight: 300;
  line-height: 68px;
  color:#fbfffb;
  text-shadow:0px -1px 9px #001;
}

h2.bigBrand{
  font-size: 22px;
  font-weight: 400;
  line-height: 36px;
  color:#fbfffb;
  text-shadow:0px -1px 2px #111;
}
h2.medBrand{
  font-size: 34px;
  font-weight: 200;
  color:#999999;
}





.boxShadow {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
}
.boxShadowEasy {
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.loginbox {
  min-width: 280px;
  padding: 10px 20px 20px 20px;
}

.borderBottom{
}
p.desc{
  font-size:17px;
}


label{
  font-weight:600!important;
  color:#bbb;
  letter-spacing:1px!important;
}

.btn-superbig {
  padding-top:40px;
  padding-bottom:40px;

}

.bg1{
  background-color:#e5e5e5;
}
.bg2{
  background-color:#f8f8fb;
}

  
#jobnav .job{
}

#jobnav a {
  color:#2d2d94!important;
  font-size: 16px;
  font-weight:500!important;
  padding-top:16px;
}

#jobnav tr {
  color:#2d2d34!important;
}
#jobnav td {
  padding-top:20px;
}
#jobnav .progress{
  max-height:12px;
  margin-top:4px;
  background-color:none;
}

#currentImageContainer {
  text-align: "center";
  display: inline-block;
  *display:inline; /* ie7 fix */
  float: none;
}

#jobDetails{
  padding:82px;
}

.thumbnail{
  text-align: "center";
  float: none; 
}

#currentImage img{
  height:320px;
  float: none; 
}

.bgDark{
  background-color: rgba(20,20,30,0.2);
}

.bgLightDark{
  background-color: rgba(200,200,200,0.1);
}

.navbar-custom{
  background-color:#222222;
  color:white!important;
}

.navbar-custom li {
  background-color:#222222;
  letter-spacing:1.1px;
}



.navbar-custom ul.navbar-nav > li a{
  font-size: 12px;
  letter-spacing:1.1px;
  color:#ddd!important;
}

.navbar-custom li a:hover{
  background-color:#313235;
  color:#fff!important;
}

.navbar-custom a.navbar-brand {
  color:#fff!important;
  padding-left:6px;
  margin-right:4px;
  font-size: 14px;
  font-weight:400;

}

.navbar-nav li{
  margin-left:12px;
  margin-right:12px;
}


.navbar-custom .navbar-btn{
  margin-bottom:0px;
}

.actions{

}

